* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #7c28b4, #8ae9e9);
}

.show_modal {
  background-color: #fff;
  border: none;
  margin: 2rem;
  padding: 1.75rem 1.75rem;
  border-radius: 3rem;
  font-weight: 600;
  font-size: 1.8rem;
  display: flex;
}

.show_modal:hover {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top left, #c2e9e3, #bc74be);
}
.close_modal {
  border: none;
  background-color: transparent;
  font-size: 3rem;
  font-weight: 400;

  position: absolute;
  top: 1.2rem;
  right: 1.8rem;
  cursor: pointer;
}
.close_modal:hover {
  font-weight: 500;
  font-size: 3.2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.6rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.modal {
  z-index: 6;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  padding: 3.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.hidden {
    display: none;
}